h6{
    text-decoration: none !important;
    list-style: none !important;

}
h3{
    text-decoration: none !important;
    list-style: none !important;

}
.text-main{
    text-decoration: none !important;
    list-style: none !important;
}
span{
    text-decoration: none !important;
    list-style: none !important;
}